<div class="ad-input-switch-wrapper" [class]="styleClass">
    <label *ngIf="label" class="switch-label">{{ label }}</label>
    <div class="switch-container" [class.disabled]="disabled" (click)="toggle()">
        <div class="switch-track" [class.checked]="checked">
            <div class="switch-handle"></div>
            <div class="icon-wrapper icon-off" [class.active]="!checked">
                <i class="fas {{ iconOff }}"></i>
            </div>
            <div class="icon-wrapper icon-on" [class.active]="checked">
                <i class="fas {{ iconOn }}"></i>
            </div>
        </div>
        <input type="checkbox" [checked]="checked" [disabled]="disabled" style="display: none;">
    </div>
</div>