<form [formGroup]="form" class="reset-password-form">
    <div class="mb-3">
        <ad-input formControlName="newPassword" type="password" placeholder="Nuova Password" icon="fas fa-lock"
            [showPasswordToggle]="true">
        </ad-input>
        <small class="text-danger"
            *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.errors?.['minlength']">
            La password deve essere di almeno 8 caratteri
        </small>
    </div>

    <div class="mb-4">
        <ad-input formControlName="confirmPassword" type="password" placeholder="Conferma Password" icon="fas fa-lock"
            [showPasswordToggle]="true">
        </ad-input>
        <small class="text-danger" *ngIf="form.errors?.['mismatch'] && form.get('confirmPassword')?.touched">
            Le password non coincidono
        </small>
    </div>

    <div class="d-flex justify-content-end gap-2">
        <ad-button label="Annulla" styleClass="w-full w-md-auto" severity="secondary" [outlined]="true"
            (onClick)="onCancel()">
        </ad-button>
        <ad-button label="Salva Nuova Password" styleClass="w-full w-md-auto" severity="primary"
            [disabled]="form.invalid || loading" [loading]="loading" (onClick)="onSave()">
        </ad-button>
    </div>
</form>