<header class="app-headbar">
    <div class="headbar-left">
        <div class="brand" (click)="goHome()">
            <span class="brand-title">Pay Peek</span>
        </div>
    </div>

    <div class="headbar-right">
        <button class="icon-button me-2" type="button" (click)="openNotifications()">
            <i class="fas fa-bell"></i>
            <span class="badge" *ngIf="notificationCount > 0">{{ notificationCount }}</span>
        </button>

        <ad-input-switch class="me-2" [checked]="isDarkTheme" (checkedChange)="onThemeChange($event)" iconOff="fa-moon"
            iconOn="fa-sun">
        </ad-input-switch>

        <ad-input-switch class="me-2" [checked]="isItalian" (checkedChange)="onLanguageChange($event)"
            iconOff="fa-flag-usa" iconOn="fa-flag">
        </ad-input-switch>

        <ad-dropdown mode="profile" [menuItems]="profileMenuItems" [profileName]="userName"
            [profileImage]="profileImageUrl">
        </ad-dropdown>
    </div>
</header>