<div class="d-flex justify-content-center align-items-center min-vh-100 wrapper">
  <div class="mx-auto" style="max-width: 800px; width: 100%;">
    <ad-card padding="large" shadow="medium" borderRadius="xl" styleClass="login-card">
      <div class="text-center mb-3">
        <img src="assets/icons/transparent_only_logo.svg" alt="PayPeek Logo" style="height: 50px;" class="mb-2">
        <hr />
      </div>

      <h2 class="text-center mb-3">{{ 'auth.login.title' | translate }}</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <ad-input formControlName="email" label="{{ 'auth.login.email' | translate }}" id="email" type="email"
            labelIcon="fa-solid fa-envelope" placeholder="{{'auth.login.email' | translate}}" styleClass="w-100">
          </ad-input>
          <div
            *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)"
            class="text-danger small mt-1">
            {{ 'auth.login.email.invalid' | translate }}
          </div>
        </div>

        <div class="mb-3">
          <ad-input formControlName="password" label="{{ 'auth.login.password' | translate }}" id="password"
            labelIcon="fa-solid fa-lock" type="password" placeholder="{{'auth.login.password' | translate}}"
            styleClass="w-100">
          </ad-input>
          <div
            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)"
            class="text-danger small mt-1">
            {{ 'auth.login.password.invalid' | translate }}
          </div>
        </div>

        <p-message *ngIf="errorMessage" severity="error" [text]="errorMessage | translate" class="mb-3"
          styleClass="w-100 mb-3"></p-message>

        <div class="d-flex flex-column gap-2 mb-3 w-100">
          <div class="d-flex flex-column gap-2 mb-3 w-100">
            <ad-button type="submit" size="small"
              [label]="isLoading ? ('auth.login.signingIn' | translate) : ('auth.login.signIn' | translate)"
              [disabled]="isLoading" [loading]="isLoading">
            </ad-button>
          </div>

          <!-- BIOMETRIC LOGIN BUTTON -->
          <div class="d-flex flex-column gap-2 mb-3 w-100" *ngIf="isBiometricAvailable && hasRegisteredUser">
            <ad-button type="button" label="{{ 'auth.login.biometric' | translate }}" icon="pi pi-fingerprint"
              styleClass="w-full custom-border-radius p-button-custom-success" [outlined]="true" size="small"
              (onClick)="onBiometricLogin()" [loading]="isBiometricLoading" [disabled]="isBiometricLoading">
            </ad-button>
          </div>

        </div>
      </form>

      <div class="px-2 pb-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <a class="cursor-pointer" (click)="showResetPasswordDialog = true">{{ 'auth.login.forgotPassword' | translate
            }}</a>

        </div>

        <div class="text-center">
          <span>{{ 'auth.login.noAccount' | translate }} </span>
          <a routerLink="/auth/terms">{{ 'auth.login.signUp' | translate }}</a>
        </div>

      </div>
    </ad-card>

    <p-dialog header="{{ 'auth.login.forgotPassword' | translate }}" [(visible)]="showResetPasswordDialog"
      [modal]="true" [style]="{width: '450px'}" [draggable]="false" [resizable]="false" [baseZIndex]="10000">
      <app-reset-password (close)="showResetPasswordDialog = false"></app-reset-password>
    </p-dialog>

  </div>
</div>