:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-bg-primary);

  .card {
    background-color: var(--color-bg-secondary);
    border-radius: 8px;
    box-shadow: var(--shadow-lg);
    width: 100%;
  }

  .wrapper {
    padding: none !important;
    width: 80% !important;
  }

  .wrapper-button {
    width: 80% !important;
  }

  h2 {
    color: var(--color-text-primary);
    font-weight: 600;
  }

  .form-label {
    font-weight: 500;
    color: var(--color-text-secondary);
  }

  .btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
  }

  a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.biometric-overlay {
  position: absolute;
  top: 48%;
  left: 4px;
  transform: translateY(-50%);
  z-index: 5;
}

::ng-deep .btn-biometric {
  width: 2.5rem !important;
  height: 2.5rem !important;
  border-radius: 50% !important;
  padding: 0 !important;
  background-color: var(--color-bg-secondary) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid rgba(var(--color-primary-rgb), 0.2) !important; // Un bordo leggero
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important; // Effetto elastico
  position: relative;
  overflow: visible !important;

  .p-button-icon {
    margin: 0 !important;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    z-index: 2;
  }

  &:hover {
    transform: scale(1.15);
    background-color: var(--color-bg-tertiary) !important;
    border-color: var(--color-primary) !important;
    box-shadow: 0 0 15px rgba(var(--color-primary-rgb), 0.4);

    .p-button-icon {
      color: var(--color-primary) !important; // L'icona si illumina
      animation: fingerprint-glow 1.5s infinite alternate;
    }

    // L'effetto pulse (cerchio che si espande)
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid var(--color-primary);
      opacity: 0;
      animation: sonar-pulse 1.5s infinite;
      z-index: 1;
    }
  }
}

// Animazioni
@keyframes sonar-pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes fingerprint-glow {
  0% {
    text-shadow: 0 0 0px var(--color-primary);
    filter: brightness(1);
  }

  100% {
    text-shadow: 0 0 8px var(--color-primary);
    filter: brightness(1.3);
  }
}